.chat-input {
  display: flex;
  height: 2em;
  position: fixed;
  bottom: 2em;
  width: 50%;
  padding-left: 1em;
  padding-top: 15px;
  border-top: #19191A solid 8px;
}

.chat--input {
  border: 1px solid;
  border-radius: 0.5em;

}


@media (max-width: 768px) {
  .chat-input {
    width: 100%;
  }
}